@model EntityFlus.BanksOperation

@{
    ViewBag.Title = "Eliminar operación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar operación</h2>

<h3>¿Seguro que quieres eliminar esta operación?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Operación</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Operation)
        </dd>

        <dt>
            <label>Descripción</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            <label>Tipo</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
