@model EntityFlus.BanksOperation

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using FlusBankWeb.Utilities;

<h2>Detalles de la operación</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Operación</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            <label>Descripción</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            <label>Tipo</label>
        </dt>

        <dd>
            @{
                var typeOperation = new Enums();
                typeOperation.SetOperationValue(Model.Type);
            }
            <span>@typeOperation.GetOperation()</span>
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
