@if (Session["User"] != null)
{
    if (Session["Rol"].ToString().Equals("1"))
    {
        @model EntityFlus.User

        ViewBag.Title = "Eliminar";
        Layout = "~/Views/Shared/_Layout.cshtml";

        <h2>Eliminar usuario</h2>

        <h3>¿Seguro qué quieres eliminar este usuario?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    <label>Email</label>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    <label>Nº Móvil</label>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>

                <dt>
                    <label>DNI</label>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DNI)
                </dd>

                <dt>
                    <label>Nombre</label>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    <label>Apellidos</label>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Surname)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Rol)
                </dt>

                <dd>
                    @{ var rol = @Html.DisplayFor(model => model.Rol).ToString();}
                    @if (rol == "0")
                    {
                        <span>Cliente</span>
                    }
                    else
                    {
                        <span>Administrador</span>
                    }
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    @Html.ActionLink("Volver a la lista", "Index") |
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                </div>
            }
        </div>
    }
    else
    {
        Layout = "~/Views/Shared/_Error.cshtml";
    }
}