@model EntityFlus.BankAccount

@{
    ViewBag.Title = "Detalles cuenta bancaria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using FlusBankWeb.Utilities;

<h2>Detalles cuenta bancaria</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Moneda</label>
        </dt>

        <dd>
            @{
                var currencyType = new Enums();
                currencyType.SetCurrency(Model.CurrencyId);
            }
            <span>@currencyType.GetCurrency()</span>
        </dd>

        <dt>
            <label>Fecha de creación</label>
        </dt>

        <dd>
            @Model.TimeStamp.ToShortDateString()
        </dd>

        <dt>
            <label>Tipo de cuenta</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            <label>Saldo</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            <label>Comisión anual</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commission)
        </dd>

        <dt>
            <label>IBAN</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
